header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #519872;
    z-index: 10;
    color: white;
    display: flex;
    justify-content: center;
}
header>div {
    width: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header h1 {
    font-size: 36px;
    margin-left: 5px;
    font-weight: 600;
}
header img {
    margin-left: 15px;
}