.Wizard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.wizard-elements {
    padding: 80px 10px 10px 10px;
    background-color: #E5F4EC;
    width: 800px;
}
.wizard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;
    
}
.wizard-header>h2 {
    font-size: 32px;
    font-weight: 600;
}
.cancel-button {
    font-size: 18px;
    padding: 8px;
    background-color: #8AEA92;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    color: black;
}
.wizard-form {
    padding-bottom: 10px;
}
.Wizard hr {
    height: 3px;
    border: none;
    background-color: #DEDEDE;
}
.wizard-image {
    max-width: 500px;
}
.WizardTwo input {
    width: 500px;
}
.WizardTwo {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}